{% extends 'dashboard/dashboard.html.twig' %}
{% block title %}Statuts personne morale{% endblock %}
{% block wrapper %}
    <div class="card-header">
        <h2>{{ 'label.titre.persMorale'|trans }}</h2>
    </div>
    <div class="card-body">
        {% include '_flash.html.twig' %}
        <div class="listing-bloc relative-bloc">
            <div class="btn-group wrap-btn">
                <button id="showModalCreate" class="btn btn-success" data-route="statuts_pers_morale_new" data-title="{{ 'label.title.ajout'|trans }}"> <i class="icon-plus-circle"></i><span>Ajouter</span></button>
            </div>
            <div class="table-responsive">
                <table id="listStatPersMorale" class="table table-striped">
                    <thead>
                        <tr>
                            <th><span>{{ 'column.libelle'|trans }}</span></th>
                            <th><span>{{ 'column.actif'|trans }}</span></th>
                            <th class="actions"><span>{{ 'column.actions'|trans }}</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for statuts_pers_morale in statuts_pers_morales%}
                            <tr>
                                <td>{{  statuts_pers_morale.libelle }}</td>
                                <td>{{  statuts_pers_morale.isActif ? 'OUI' : 'NON' }} </td>
                                <td class="actions">
                                    <button data-route="statuts_pers_morale_edit" data-title="{{ 'label.title.modification'|trans }}" class="btn-edit" data-id="{{ statuts_pers_morale.id }}" type="button"><i class="icon-edit"></i></button>
                                    <button data-route="statuts_pers_morale_delete" data-title="{{ 'label.titre.delete'|trans }}" class="btn-remove" data-id="{{ statuts_pers_morale.id }}" type="button"><i class="icon-trash"></i></button>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% include '/Admin/Popup/modal.html.twig' %}
    </div>
{% endblock %}