{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
{% if success is defined %}
    <div class="alert alert-{{ success }}">{{ message }}</div>
{% endif %}
<h1 class="text-danger">Connexion</h1>
    <form class="form-horizontal" action="{{ path("fos_user_security_check") }}" method="post">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}

    {#<label for="username">{{ 'security.login.username'|trans }}</label>#}
    <input class="form-control" type="email" id="username" name="_username" placeholder="{{ 'label.user'|trans }}" required="required" autocomplete="username" />

    {#<label for="password">{{ 'security.login.password'|trans }}</label>#}
    <input class="form-control" type="password" id="password" name="_password" required="required" placeholder="{{ 'security.login.password'|trans }}" autocomplete="current-password" />

    {#<input type="checkbox" id="remember_me" name="_remember_me" value="on" />#}
    {#<label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>#}

    <div class="text-right">
        <button data-toggle="modal" id="showModalPassword" data-target="" class="btn btn-link text-danger" type="button">{{ 'forgot.passeword'|trans }}</button>
        <input class="btn btn-danger" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
    </div>
</form>