{% trans_default_domain 'FOSUserBundle' %}



{% if success is defined %}
    <div class="alert alert-{{ success }}">{{ message }}</div>
{% endif %}
<div class="login-container">
    <div class="row no-gutters">
        <div class="col-md-6 d-none d-md-block">
            <!-- image decoration page -->
            {#<figure class="bgdeco" style="background-image: url('{{ asset("build/images/photo-deco.png") }}')"></figure>#}
            <figure class="bgdeco"></figure>
        </div>
        <div class="col-md-6">
            <section class="login-content">
                <div class="inner-login-content">
                    <h1 class="titre-page-login">Connexion</h1>
                    <div class="form-bloc login-form floating-form">
                        {% if error %}
                        <p class="msg-error alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</p>
                        {% endif %}
                        <form class="form-horizontal" autocomplete="off" action="{{ path("fos_user_security_check") }}" method="post">
                            {% if csrf_token %}
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                            {% endif %}

                            <div class="form-group">
                                <input class="form-control" type="text" id="username" name="_username" placeholder="" required="required" />
                                <label class="form-label form-control-placeholder" for="username">{{ 'Adresse e-mail'|trans }}</label>
                            </div>

                            <div class="form-group">
                                <input class="form-control" type="password" id="password" name="_password" required="required" placeholder=""  autocomplete="new-password" />
                                <label class="form-label form-control-placeholder" for="password">{{ 'security.login.password'|trans }}</label>
                            </div>
                        
                            <div class="btn-group" role="group">
                                <a href="javascript:;" title="{{ 'forgot.passeword'|trans }}" data-toggle="modal" class="link-mdpo" id="showModalPassword" data-target="">{{ 'forgot.passeword'|trans }}</a>
                                <button class="btn btn-primary" type="submit" id="_submit" name="_submit" value="" />{{ 'security.login.submit'|trans }}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
