{% extends 'dashboard/dashboard.html.twig' %}
{% set sectionSociete = true %}
{% block wrapper %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1>Gestion des Société</h1>

                {% include '_flash.html.twig' %}
                <div>
                    <div class="col-xs-12">
                        <div id="btn-thematic-create" class="btn btn-ps pull-right adjust">
                            <button id="showModalCreateUser" data-route="create_societe" data-title="Creation/Edition Societe" style="background-color:#3a9d5d; float: right"> <a class="text-light fa fa-plus-circle" href="#">Ajouter</a></button>
                        </div>
                    </div>
                    <div class="btn-group" role="group" aria-label="Button group">
                        <input type="text" class="form-control-lg" placeholder="Recherche ..." id="search_box">
                    </div>
                </div>

                <table id="listUser" class="table">
                    <thead>
                        <tr>
                            <th>Libelé</th>
                            <th>Actif/Inactif</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for societe in societes %}
                        <tr>
                            <td>{{ societe.libele }}</td>
                            <td>{{ societe.enable }}</td>
                            <td>
                                <button  data-target="#modalPassword" data-route="edit_societe" class="btn btn-link text-danger btn-edit-user" data-id="{{ societe.id }}" type="button"><i class="fa fa-edit"></i></button>
                                <button  data-target="#modalPassword" data-route="delete_societe" class="btn btn-link text-danger btn-remove-user" data-id="{{ societe.id }}" type="button"><i class="fa fa-trash-o"></i></button>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="4">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>
    {% include 'user/popup.html.twig'  with {
        'sectionSociete' : sectionSociete,
        'form' : formSociete,
        'title' : 'Ajout/Modification société'|trans
    } %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('user') }}
{% endblock %}