{% extends 'dashboard/dashboard.html.twig' %}
{% set sectionSociete = true %}

{% block wrapper %}
    <div class="card-header">
        <h2>{{ 'Gestion des Sociétés'|trans }}</h2>
    </div>
    <div class="card-body">
        {% include '_flash.html.twig' %}
        <div class="listing-bloc relative-bloc">
            <div class="btn-group wrap-btn">
                <button id="showModalCreate" class="btn btn-success" data-route="create_societe" data-title="{{ 'label.edit.create'|trans }}"><i class="icon-plus-circle"></i><span>Ajouter</span></button>
            </div>
            <div class="table-responsive">
                <table id="listSociete" class="table table-striped">
                    <thead>
                        <tr>
                            <th><span>{{ 'column.societe'|trans }}</span></th>
                            <th><span>{{ 'column.actif'|trans }}</span></th>
                            <th class="actions"><span>{{ 'column.actions'|trans }}</span></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for societe in societes %}
                        <tr>
                            <td>{{ societe.libele }}</td>
                            <td>{{ societe.enable?'OUI':'NON' }}</td>
                            <td class="actions">
                                <button data-target="#modalPassword" data-title="{{ 'label.edit.create'|trans }}" data-route="edit_societe" class="btn-edit" data-id="{{ societe.id }}" type="button"><i class="icon-edit"></i></button>
                                <button  data-target="#modalPassword" data-title="{{ 'label.delete'|trans }}" data-route="delete_societe" class="btn-remove" data-id="{{ societe.id }}" type="button"><i class="icon-trash"></i></button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% include 'user/popup.html.twig'  with {
            'sectionSociete' : sectionSociete,
            'form' : formSociete
        } %}
    </div>
{% endblock %}