{% extends 'dashboard/dashboard.html.twig' %}

{% block title %}{{ parent() }} | Type de Prestation{% endblock %}
{% block child_css %}
    {{ encore_entry_link_tags('mainPersMorale') }}
{% endblock %}
{% block wrapper %}

    <div class="card-header">{{ 'label.titre.typePrestation'|trans }}</div>
    {% include '_flash.html.twig' %}
    <br>
    <div>
        <div class="col-xs-12">
            <div class="btn btn-ps pull-right adjust">
                <button id="showModal" data-route="type_prestation_new" data-title="{{ 'label.title.ajout'|trans }}" style="background-color:#3a9d5d; float: right"> <i class="text-light fa fa-plus-circle">Ajouter</i></button>
            </div>
        </div>
        <div class="btn-group" role="group" aria-label="Button group">
            <input type="text" class="form-control-lg" placeholder="Recherche ..." id="search_box">
        </div>
    </div>
    <table id="persMorale_table" class="table " >
        <thead style="background-color: darkred;" class="text-light">
        <tr>
            <th>Libelle</th>
            <th>Actif</th>
            <th style="text-align: center; width:15%; padding-right: 8px !important;">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for type_prestation in type_prestations %}
            <tr>
                <td {{type_prestation.isActif ? 'class=""'  : ' style="background-color: gainsboro"' }}>{{  type_prestation.libelle }}</td>
                <td {{type_prestation.isActif ? 'class=""'  : ' style="background-color: gainsboro"' }}>{{  type_prestation.isActif ? 'OUI' : 'NON' }} </td>
                <td {{type_prestation.isActif ? 'class=""'  : ' style="background-color: gainsboro"' }} style="width:15%; text-align: center; padding-right: 8px !important;">
                    {#<a href="{{ path('societe_edit', {'id': societe.id}) }}"><button class="btn btn-dribbble" data-toggle="modal" data-target="#exampleModal" data-whatever="@do"><i class="fa fa-edit"></i></button></a>#}
                    <button data-route="type_prestation_edit" data-title="{{ 'label.title.modification'|trans }}" class="btn btn-link text-danger btn-edit-persMorale" data-id="{{ type_prestation.id }}" type="button"><i class="fa fa-edit"></i></button>
                    <button data-route="type_prestation_delete" data-title="{{ 'label.titre.delete'|trans }}" class="btn btn-link text-danger btn-remove" data-id="{{ type_prestation.id }}" type="button"><i class="fa fa-trash-o"></i></button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">{{ 'label.enregistrement.vide'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% include '/Admin/Popup/modal.html.twig' %}
    {% block child_js %}
        {{ encore_entry_script_tags('mainPersMorale') }}
    {% endblock %}

{% endblock %}