{% extends 'dashboard/dashboard.html.twig' %}

{% block title %}{{ parent() }} | Type de Prestation{% endblock %}
{% block wrapper %}
    <div class="card-header">
        <h2>{{ 'label.titre.typePrestation'|trans }}</h2>
    </div>
    <div class="card-body">
        {% include '_flash.html.twig' %}
        <div class="listing-bloc relative-bloc">
            <div class="btn-group wrap-btn">
                <button id="showModalCreate" class="btn btn-success" data-route="type_prestation_new" data-title="{{ 'label.title.ajout'|trans }}"> <i class="icon-plus-circle"></i><span>Ajouter</span></button>
            </div>
            <div class="table-responsive">
                <table id="listTypePrestation" class="table table-striped">
                    <thead>
                        <tr>
                            <th><span>{{ 'Type de prestation'|trans }}</span></th>
                            <th><span>{{ 'column.actif'|trans }}</span></th>
                            <th class="actoins"><span>{{ 'column.actions'|trans }}</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for type_prestation in type_prestations %}
                            <tr>
                                <td>{{  type_prestation.libelle }}</td>
                                <td>{{  type_prestation.isActif ? 'OUI' : 'NON' }} </td>
                                <td class="actions">
                                    <button data-route="type_prestation_edit" data-title="{{ 'label.title.modification'|trans }}" class="btn-edit" data-id="{{ type_prestation.id }}" type="button"><i class="icon-edit"></i></button>
                                    <button data-route="type_prestation_delete" data-title="{{ 'label.titre.delete'|trans }}" class="btn-remove" data-id="{{ type_prestation.id }}" type="button"><i class="icon-trash"></i></button>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% include '/Admin/Popup/modal.html.twig' %}
    </div>
{% endblock %}