{% include '_flash.html.twig' %}
<div class="card custom-card">
    <div class="card-body">
        <div class="listing-bloc relative-bloc">
            <div class="row">
                <div class="col-xl-12">
                    <div class="card card-custom-2 m-0">
                        <div class="card-header">
                            <h3>AUXILIAIRES INTERVENUS SUR L'AFFAIRE</h3>
                        </div>
                    </div>
                    <button id="modalCreateAuxi" class="btn btn-success" data-dossier="" data-route="auxiliaires_new"
                            data-title="{{ 'AJOUT'|trans }}"> <i class="icon-plus-circle"></i><span>Ajouter</span></button>
                </div>
            </div>
            <div class="table-responsive">
                <table id="auxiliaires-listActuel" class="table table-striped dataTable no-footer">
                    <thead>
                    <tr>
                        <th><span>{{ 'column.nameUser'|trans }}</span></th>
                        <th><span>{{ 'column.namePrestation'|trans }}</span></th>
                        <th><span>{{ 'column.nameConvenu'|trans }}</span></th>
                        <th><span>{{ 'column.namePayer'|trans }}</span></th>
                        <th><span>{{ 'column.nameReste'|trans }}</span></th>
                        <th><span>{{ 'column.pJ'|trans }}</span></th>
                        <th><span>{{ 'column.nameStatIntervenant'|trans }}</span></th>
                        <th class="actions"><span>{{ 'column.actions'|trans }}</span></th>
                        {#<th>{{ 'column.actions'|trans }}</th>#}
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <br>
            <br>

            <div class="listing-bloc relative-bloc">
                <div class="table-responsive">
                    <table id="auxiliaires-list" class="table table-striped dataTable no-footer">
                        <thead>
                        <tr>
                            <th><span>{{ 'column.nameUser'|trans }}</span></th>
                            <th><span>{{ 'column.namePrestation'|trans }}</span></th>
                            <th><span>{{ 'column.nameConvenu'|trans }}</span></th>
                            <th><span>{{ 'column.namePayer'|trans }}</span></th>
                            <th><span>{{ 'column.nameReste'|trans }}</span></th>
                            <th><span>{{ 'column.pJ'|trans }}</span></th>
                            <th><span>{{ 'column.nameStatIntervenant'|trans }}</span></th>
                            <th class="actions"><span>{{ 'column.actions'|trans }}</span></th>
                            {#<th>{{ 'column.actions'|trans }}</th>#}
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {% include 'auxiliaires/modal.html.twig' %}
    </div>
</div>