{% extends 'dashboard/dashboard.html.twig' %}
{% set sectionSociete = true %}
{% block wrapper %}
    <div class="card-header">
        <h2>{{ 'Gestion des Fonctions'|trans }}</h2>
    </div>
    <div class="card-body">
        {% include '_flash.html.twig' %}
        <div class="listing-bloc relative-bloc">
            <div class="btn-group wrap-btn">
                <button id="showModalCreate" class="btn btn-success" data-route="create_fonction" data-title="{{ 'label.edit.create'|trans }}"><i class="icon-plus-circle"></i><span>Ajouter</span></button>
            </div>
            <div class="table-responsive">
                <table id="listFonction" class="table table-striped">
                    <thead>
                    <tr>
                        <th><span>{{ 'column.libelle'|trans }}</span></th>
                        <th><span>Profil</span></th>
                        <th><span>{{ 'column.actif'|trans }}</span></th>
                        <th><span>{{ 'column.actions'|trans }}</span></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for fonction in fonctions %}
                        <tr>
                            <td>{{ fonction.libele }}</td>
                            <td>{{ fonction.profil?fonction.profil.libele:'' }}</td>
                            <td>{{ fonction.enable?'OUI':'NON' }}</td>
                            <td class="actions">
                                <button  data-target="#modalPassword" data-title="{{ 'label.edit.create'|trans }}" data-route="edit_fonction" class="btn-edit" data-id="{{ fonction.id }}" type="button"><i class="icon-edit"></i></button>
                                <button  data-target="#modalPassword" data-title="{{ 'label.delete'|trans }}" data-route="delete_fonction" class="btn-remove" data-id="{{ fonction.id }}" type="button"><i class="icon-trash"></i></button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% include 'user/popup.html.twig'  with {
            'sectionUser' : sectionSociete,
            'form' : formFonction,
            'title' : 'Ajout/Modification fonction'|trans
        } %}
    </div>
{% endblock %}