<div class="form-bloc standard-form form-declaration-litige">
    {{ form_start(form) }}
    <div class="row same-height m-b-30">
        <div class="col-xl-12">
            <div class="card card-custom-2 m-0">
                <div class="card-header">
                    <h3> AVOCAT EN CHARGE DE L'AFFAIRE</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="form-group col-xl-6">
                            {{ form_row(form.nomPrenom) }}
                        </div>
                        <div class="form-group col-xl-6 noMargin-xl-form-group">
                            {{ form_row(form.adresse) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xl-6">
                            {{ form_row(form.email) }}
                        </div>
                        <div class="form-group col-xl-6 noMargin-xl-form-group">
                            {{ form_label(form.telephone) }}
                            <div class="row">
                                <div class="col-md-3">
                                    {{ form_widget(form.prefixPhone, {'attr':{'class':'prefixPhoneNumber'}}) }}
                                </div>
                                <div class="col-md-9">
                                    {{ form_widget(form.telephone, {'attr':{'class':'phoneNumber'}}) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row same-height m-b-30">
        <div class="col-xl-12">
            <div class="card card-custom-2 m-0">
                <div class="card-header">
                    <h3>HONORAIRES</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="form-group col-xl-6">
                            {{ form_row(form.prestation) }}
                        </div>
                        <div class="form-group col-xl-4">
                            {{ form_row(form.convenu) }}
                        </div>
                        <div class="form-group col-xl-2">
                            {{ form_row(form.deviseConvInt) }}

                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xl-4">
                            {{ form_row(form.payer) }}
                        </div>
                        <div class="form-group col-xl-2">
                            {{ form_row(form.devisePayerInt) }}
                        </div>
                        <div class="form-group col-xl-4">
                            {{ form_row(form.restePayer) }}
                        </div>
                        <div class="form-group col-xl-2">
                            {{ form_row(form.deviseResteInt) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group file-form">
                            {{ form_label(form.piecesJointes) }}
                            <div class="file-field">
                                <div class="select-typefile">
                                    {{ form_widget(form.piecesJointes) }}
                                </div>
                                <div class="load-file">
                                    <a href=""  class="loadLink" > {{ form_row(form.File) }}</a>
                                   {# <div >
                                        <span id="errorupload" >Le fichier est trop volumineux</span>
                                    </div>#}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-6" hidden>
                        {{ form_row(form.statutIntervenant,{'attr': {'class': 'intervenantStatut'}}) }}
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="btns-group">
        <input type="button" data-dismiss="modal" id="cancel" class="btn btn-default" value="{{ 'label.cancel'|trans }}"/>
        <input type="submit" id="saveCreateUser" class="btn btn-danger" value="{{ 'label.save'|trans }}"/>
    </div>
    {{ form_end(form) }}
</div>




