{% include '_flash.html.twig' %}
<div class="card custom-card">
    <div class="card-header">
        Les intervenants
    </div>
    {% if intervenant is defined and intervenant.id is not null %}
        {% include "/intervenant/_current-form.html.twig" %}
    {% endif %}

    <div class="card-body">
        <div class="listing-bloc relative-bloc">

            <div class="row">
                <div class="col-xl-8">
                    LES AVOCATS INTERVENUS SUR L'AFFAIRE <br>
                    <button id="modalCreateIntervenant" class="btn btn-success" data-dossier="{{ dossier.id }}"
                            data-route="intervenant_new"
                            data-title="{{ 'label.title.ajout'|trans }}"> <i class="icon-plus-circle"></i><span>Ajouter</span></button>
                </div>
                <div class="col-xl-4">
                    <div id="" class="btn btn-ps pull-right adjust">

                    </div>
                </div>
                <div class="btn-group" role="group" aria-label="Button group">
                    <input type="text" class="form-control-lg" placeholder="Recherche ..." id="search_box">
                </div>
            </div>
            <div class="table-responsive">
                <table id="avocat-list" class="table table-striped">
                    <thead>
                    <tr>
                        <th>{{ 'column.nameUser'|trans }}</th>
                        <th>{{ 'column.namePrestation'|trans }}</th>
                        <th>{{ 'column.nameConvenu'|trans }}</th>
                        <th>{{ 'column.namePayer'|trans }}</th>
                        <th>{{ 'column.nameReste'|trans }}</th>
                        <th>{{ 'column.nameDevise'|trans }}</th>
                        <th>{{ 'Pjintervenant'|trans }}</th>
                        <th>{{ 'column.nameStatIntervenant'|trans }}</th>
                        <th class="actions">{{ 'column.actions'|trans }}</th>
                        {#<th>{{ 'column.actions'|trans }}</th>#}
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% if intervenant is defined and intervenant.id is not null %}
    <div class="btns-group text-right">
        <button type="submit" id="edit-intervenant" class="btn btn-danger">Enregistrer</button>
    </div>
{% endif %}
{# end form of the current-form#}
{{ form_end(form_intervenant, {'render_rest': false}) }}
{% include 'intervenant/modal_intervenant.html.twig' %}