{% extends 'base.html.twig' %}

{% block title %}Hello IntervenantAvocatController!{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('intervenant') }}
   {#<link rel="stylesheet" href="https://cdn.datatables.net/1.10.6/css/jquery.dataTables.min.css" />#}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('intervenant') }}
{% endblock %}

{% block body %}
    {% include '_flash.html.twig' %}
<div class="example-wrapper">
    <table id="avocat-list" class="table">
        <thead>
        <tr>
            <th>{{ 'column.nameUser'|trans }}</th>
            <th>{{ 'column.nameConvenu'|trans }}</th>
            <th>{{ 'column.namePayer'|trans }}</th>
            <th>{{ 'column.nameReste'|trans }}</th>
            <th>{{ 'column.nameDevise'|trans }}</th>
            <th>{{ 'column.namePrestation'|trans }}</th>
            <th>{{ 'column.nameStatIntervenant'|trans }}</th>
            <th>{{ 'column.actions'|trans }}</th>
            {#<th>{{ 'column.actions'|trans }}</th>#}
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
    {% include '/Admin/Popup/modal.html.twig' %}
{% endblock %}
