{% include '_flash.html.twig' %}
<div class="card custom-card">
    <div class="card-header">
        Les intervenants
    </div>
    {% if intervenant is defined and intervenant.id is not null %}
        {% include "/intervenant/_current-form.html.twig" %}
    {% endif %}

    <div class="card-body">
        <div>
            <div class="js-user-rating" data-is-authenticated="{{ app.user ? 'true' : 'false' }}">
                <!-- ... -->
            </div>
            {% if app.user is not null %}
                {% for role in app.user.roles if role == 'ROLE_JURISTE' %}
                   <button id="roolesJury" data-rolesJury="{{ role }}" style="display: none;">{{ role }}</button>
                {% endfor %}
            {% endif %}
          {#  pp.user.hasRole("ROLE_SUPERADMIN")#}
        </div>
        <div class="listing-bloc relative-bloc">

            <div class="row">
                <div class="col-xl-8">
                    LES AVOCATS INTERVENUS SUR L'AFFAIRE <br>
                    <button id="modalCreateIntervenant" class="btn btn-success" data-dossier="{{ dossier.id }}"
                            data-route="intervenant_new"
                            data-title="{{ 'AJOUT'|trans }}"> <i class="icon-plus-circle"></i><span>Ajouter</span></button>
                </div>
                <div class="col-xl-4">
                    <div id="" class="btn btn-ps pull-right adjust">

                    </div>
                </div>
                <div class="btn-group" role="group" aria-label="Button group">
                    <input type="text" class="form-control-lg" placeholder="Recherche ..." id="search_box">
                </div>
            </div>
            <div class="table-responsive">
                <table id="avocat-list" class="dataTable table table-striped">
                    <thead>
                    <tr>
                        <th><span>{{ 'column.nameUser'|trans }}</span></th>
                        <th><span>{{ 'column.namePrestation'|trans }}</span></th>
                        <th><span>{{ 'column.nameConvenu'|trans }}</span></th>
                        <th><span>{{ 'column.namePayer'|trans }}</span></th>
                        <th><span>{{ 'column.nameReste'|trans }}</span></th>
                        <th><span>{{ 'column.pJ'|trans }}</span></th>
                        <th><span>{{ 'column.nameStatIntervenant'|trans }}</span></th>
                        {% if app.user.hasRole("ROLE_JURISTE") %}
                        <th class="actions"><span>{{ 'Action'|trans }}</span></th>
                            {% else %}
                        <th><span>{{ 'column.actions'|trans }}</span></th>
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% if intervenant is defined and intervenant.id is not null %}
    <div class="btns-group text-right">
        <button type="submit" id="edit-intervenant" class="btn btn-danger">Enregistrer</button>
    </div>
{% endif %}
{# end form of the current-form#}
{{ form_end(form_intervenant, {'render_rest': false}) }}
{% include 'intervenant/modal_intervenant.html.twig' %}
