{{ form_start(form)  }}
    <div class="row">

        <div class="col-md-6">

            <div class="card">
                <div class="card-body">

                    <div class="col-md-6">
                        {{ form_row(form.userEnCharge) }}
                        {{ form_row(form.raisonSocial) }}
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="row">

                        <div class="col-md-6">
                            {{ form_row(form.nomPartieAdverse) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_row(form.statutPartiAdverse) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_row(form.formePartieAdverse) }}
                            {#{{ form_row(form.partieAdverse.statut) }}#}
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="row">

                        <div class="col-md-6">
                            {{ form_row(form.categorie) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_row(form.dateLitige) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_row(form.nomDossier) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_row(form.statut) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_row(form.sensLitige) }}
                        </div>
                        <div class="col-md-4">
                            {{ form_row(form.montant) }}
                        </div>
                        <div class="col-md-2">
                            {{ form_row(form.devise) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_row(form.etapeSuivante) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_row(form.echeance) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_row(form.situation) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_row(form.alerteDate) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            {{ form_row(form.resumeFait) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        {#<div class="col-md-12">#}
                            {#{{ form_widget(form.subDossiers.vars.prototype.libelle) }}#}
                        {#</div>#}
                        <div class="col-md-12">
                            <div class="well">
                                <a href="#" id="add_category" class="btn btn-success pull-right">Ajouter</a>
                                {{ form_row(form.subDossiers) }}
                            </div>


                        </div>
                        <div class="col-md-12">
                            <table class="table table-responsive-sm">
                                <thead>
                                <th>
                                    Numéro dossier
                                </th>
                                <th>
                                    Libellé
                                </th>
                                <th>
                                    Action
                                </th>
                                </thead>
                                <tbody>

                                {% if dossier is defined %}
                                    {% for subDossier in dossier.subDossiers %}
                                        <tr>
                                            <td>
                                                {{ subDossier.numeroSubDossier }}
                                            </td>
                                            <td>

                                                {{ subDossier.libelle }}
                                            </td>
                                            <td style="width:15%; text-align: center; padding-right: 8px !important;">

                                                <button  data-target="#modalPassword" data-title="{{ 'label.edit.create'|trans }}" data-route="edit_user" class="btn btn-link text-danger btn-edit" data-id="{{ subDossier.id }}" type="button"><i class="fa fa-edit"></i></button>
                                                <button  data-target="#modalPassword" data-title="{{ 'label.delete'|trans }}" data-route="delete_sub_dossier" class="btn btn-link text-danger btn-remove" data-id="{{ subDossier.id }}" type="button"><i class="fa fa-trash-o"></i></button>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            {{ form_row(form.piecesJointes) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="pull-right adjust text-right offset-10">
            <button type="submit" class="btn btn-success">Enregistrer</button>
        </div>

    </div>
{{ form_end(form) }}