{#{{ form_start(form)  }}#}

{{ form_start(form, {'attr': {'id': 'formSearchDossier','class': 'form-horizontale'}}) }}
{#<form id="formSearchDossier" name="form_search_dossier">#}

<div class="col-md-12">

    <p>Recherce par:</p>
    <div class="card">
        <div class="card-body">
            <div class="row">


                    <div class="col-md-3">
                        <div class="form-group">

                            {{ form_row(form.reference) }}
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">

                            {{ form_row(form.nom) }}
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">

                            {{ form_row(form.categorie) }}
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">

                            {{ form_row(form.entite) }}
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">

                            {{ form_row(form.statut) }}
                        </div>
                    </div>
                    {#<div class="col-md-6">#}

                        {#<div class="form-group">#}
                            <button class="btn btn-success" id="searchButtonDossier" type="submit">Rechercher</button>
                        {#</div>#}
                    {#</div>#}


            </div>
        </div>
    </div>
</div>
</form>
{{ form_end(form) }}

