<br>
<table id="listPJ" class="dataTable table table-striped">
    <thead>
    <tr>
        <th>N°</th>
        <th>Date d'ajout dossier</th>
        <th>InformationPj</th>
        <th>Liens d'accès</th>
        <th>Actions</th>

    </tr>
    </thead>
    <tbody>

        {% if dossier is defined %}
            {% if dossier.piecesJointes is not null %}
                {% for pj in dossier.piecesJointes %}
                    <tr>
                        <td>{{ pj.id }}</td>
                        <td></td>
                        <td>{{ pj.libelle }}</td>
                        {% if dossier.fileName is not null %}
                        <td><a href="{{   path('download_dossier',{'id':dossier.id })}}">Download fichier: {{ dossier.fileName }}</a> </td>
                        {% else %}
                            <td>Pas de fichier joints </td>
                        {%  endif %}
                        <td><a href="{{ path('delete_pj', {'id':dossier.id})}}"><i class="icon-trash"></i></a> </td>
                    </tr>
                {% endfor %}
                {% endif %}
        {% endif %}
    </tbody>
</table>