<br>
<table id="listPJ" class="dataTable table table-striped">
    <thead>
    <tr>
        <th>N°</th>
        <th>Date d'ajout dossier</th>
        <th>InformationPj</th>
        <th>Liens d'accès</th>
        <th>Actions</th>

    </tr>
    </thead>
    <tbody>

        {% if dossier is not null %}
            {% for dossier in dossier %}
                <tr>
                    <td>{{ dossier['id'] }}</td>
                    <td>{{  dossier['date_litige']}}   </td>
                    <td>{{ dossier['libelle'] }}</td>
                    {% if dossier['filename'] is not null %}
                    <td><a href="{{   path('download_dossier',{'id':dossier['id']})}}">Download fichier: {{ dossier['filename'] }}</a> </td>
                    {% else %}
                        <td>Pas de fichier joints </td>
                    {%  endif %}
                    <td><a href="{{ path('delete_pj', {'id':dossier['id']})}}"><i class="icon-trash"></i></a> </td>
                </tr>
            {% endfor %}
        {% endif %}
    </tbody>
</table>