<br>
<table id="listPJ" class="table">
    <thead>
    <tr>
        <th>N°</th>
        <th>Date d'ajout dossier</th>
        <th>InformationPj</th>
        <th>Liens d'accès</th>
        <th>Actions</th>

    </tr>
    </thead>
    <tbody>

        {% if dossier is defined %}
            {% for dossier in dossier %}
                <tr>
                    <td>{{ dossier['numero_dossier'] }}</td>
                    <td>{{  dossier['date_litige']}}   </td>
                    <td>{{ dossier['filename'] }}</td>
                    <td><a href="{{ asset('/public/pieces_jointes/litige/cmd_symfony.txt') }}" >Lien</a></td>
                    <td><button  data-target="#modalPassword" data-title="{{ 'label.delete'|trans }}" data-route="delete_dossier" class="btn btn-link text-danger btn-remove" data-id="{{ dossier['id'] }}" type="button"><i class="fa fa-trash-o"></i></button></td>
                </tr>
            {% endfor %}
        {% endif %}
    </tbody>
</table>