<br>
<table id="listPJ" class="dataTable table table-striped">
    <thead>
    <tr>
        <th>N°</th>
        <th>Date d'ajout dossier</th>
        <th>InformationPj</th>
        <th>Liens d'accès</th>
        <th>Actions</th>

    </tr>
    </thead>
    <tbody>

        {% if dossier is defined %}
            {% if dossier.PjDossiers is not null %}
                {% for pj in dossier.PjDossiers  %}
                    <tr>
                        <td>{{ dossier.id }}</td>
                        <td>{{ pj.createdAt|date('d/m/Y') }}</td>
                        <td>{{ pj.InformationPj.libelle}}</td>
                        {% if pj.fileName is not null %}
                        <td><a href="{{   path('download_dossier',{'id':pj.id })}}">Download fichier: {{ pj.fileName }}</a> </td>
                        {% else %}
                            <td>Pas de fichier joints </td>
                        {%  endif %}
                        <td><a href="{{ path('delete_pj', {'id':pj.id})}}"><i class="icon-trash"></i></a> </td>
                    </tr>
                {% endfor %}
                {% endif %}
        {% endif %}
    </tbody>
</table>