<div class="form-bloc standard-form">
    {% form_theme form 'bootstrap_4_layout.html.twig' %}
    {{ form_start(form, {'attr': {'id': 'formCreateUser','class': 'form-horizontale fos_user_registration_register'}}) }}
    {{ form_widget(form) }}
    <div class="btns-group">
        <input type="submit" data-dismiss="modal" id="cancel" class="btn btn-default" value="{{ 'label.cancel'|trans }}" />
        <input type="submit" id="saveCreateUser" class="btn btn-primary" value="{{ 'label.save'|trans }}" />
    </div>
{{ form_end(form) }}
</div>