{{ form_start(formPj, {'attr':{'id':'form-pj-cloture'}}) }}
<div class="card card-custom-2">
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group file-form">
                    {{ form_label(formPj.infoPj) }}
                    <div class="file-field">
                        <div class="select-typefile">
                            {{ form_widget(formPj.infoPj) }}
                        </div>
                        <input type="hidden" value="{% if cloture is defined %}{{ cloture.id }}{% endif %}" id="cloture-id">
                        <div class="load-file">
                            <!--<a href="" class="loadLink">insérer pièces jointes</a>-->
                            <a href="" class="loadLink"> {{ form_row(formPj.file) }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ form_end(formPj) }}