{% extends 'dashboard/dashboard.html.twig' %}

{% block title %}{{ parent() }} | Information des pièces jointes {% endblock %}
{% block wrapper %}

    <div class="card-header">{{ 'label.titre.informationPj'|trans }}</div>
    {% include '_flash.html.twig' %}
    <br>
    <div>
        <div class="col-xs-12">
            <div class="btn btn-ps pull-right adjust">
                <button id="showModalCreate" class="btn badge-success" data-route="information_pj_new" data-title="{{ 'label.title.ajout'|trans }}"> <i class="text-light fa fa-plus-circle">Ajouter</i></button>
            </div>
            <br>
        </div>
        <div class="btn-group" role="group" aria-label="Button group">
            <input type="text" class="form-control-lg" placeholder="Recherche ..." id="search_box">
        </div>
    </div>
    <table id="listAdmin" class="table " >
        <thead>
        <tr>
            <th>{{ 'column.libelle'|trans }}</th>
            <th>{{ 'column.actif'|trans }}</th>
            <th style="text-align: center; width:15%; padding-right: 8px !important;">{{ 'column.actions'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for information_pj in information_pjs %}
            <tr>
                <td>{{  information_pj.libelle }}</td>
                <td>{{  information_pj.isActif ? 'OUI' : 'NON' }} </td>
                <td style="width:15%; text-align: center; padding-right: 8px !important;">
                    <button data-route="information_pj_edit" data-title="{{ 'label.title.modification'|trans }}" class="btn btn-link text-danger btn-edit" data-id="{{ information_pj.id }}" type="button"><i class="fa fa-edit"></i></button>
                    <button data-route="information_pj_delete" data-title="{{ 'label.titre.delete'|trans }}" class="btn btn-link text-danger btn-remove" data-id="{{ information_pj.id }}" type="button"><i class="fa fa-trash-o"></i></button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% include '/Admin/Popup/modal.html.twig' %}
{% endblock %}