{% extends 'dashboard/dashboard.html.twig' %}
{% set sectionStatut = true %}
{% block wrapper %}
            <div class="card-header">{{ 'Gestion des Statuts'|trans }}</div>
            <br>
                {% include '_flash.html.twig' %}
                <div>
                    <div class="col-xs-12">
                        <div id="btn-thematic-create" class="btn btn-ps pull-right adjust">
                            <button id="showModalCreate" data-route="create_statut" data-title="{{ 'label.edit.create.statut'|trans }}" style="background-color:#3a9d5d; float: right"> <a class="text-light fa fa-plus-circle" href="#">Ajouter</a></button>
                        </div>
                    </div>
                    <div class="btn-group" role="group" aria-label="Button group">
                        <input type="text" class="form-control-lg" placeholder="Recherche ..." id="search_box">
                    </div>
                </div>

                <table id="listAdmin" class="table">
                    <thead>
                        <tr>
                            <th>Libelé</th>
                            <th>Actif/Inactif</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for statut in statuts %}
                        <tr>
                            <td>{{ statut.libele }}</td>
                            <td>{{ statut.enable?'OUI':'NON'  }}</td>
                            <td>
                                <button  data-target="#modalPassword" data-title="{{ 'label.edit.create.statut'|trans }}" data-route="edit_statut" class="btn btn-link text-danger btn-edit" data-id="{{ statut.id }}" type="button"><i class="fa fa-edit"></i></button>
                                <button  data-target="#modalPassword" data-title="{{ 'label.delete.statut'|trans }}" data-route="delete_statut" class="btn btn-link text-danger btn-remove" data-id="{{ statut.id }}" type="button"><i class="fa fa-trash-o"></i></button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
    {% include 'user/popup.html.twig'  with {
        'sectionSociete' : sectionStatut,
        'form' : formStatut,
        'title' : 'Ajout/Modification statut'|trans
    } %}
{% endblock %}