{% extends 'dashboard/dashboard.html.twig' %}
{% set sectionStatut = true %}
{% block wrapper %}
    <div class="card-header">
        <h2>{{ 'Gestion des Statuts'|trans }}</h2>
    </div>
    <div class="card-body">
        {% include '_flash.html.twig' %}
        <div class="listing-bloc relative-bloc">
            <div class="btn-group wrap-btn">
                <button id="showModalCreate" class="btn btn-success" data-route="create_statut" data-title="{{ 'label.edit.create'|trans }}"><i class="icon-plus-circle"></i><span>Ajouter</span></button>
            </div>
            <div class="table-responsive">
                <table id="listStatus" class="table table-striped">
                    <thead>
                        <tr>
                            <th><span>{{ 'column.libelle'|trans }}</span></th>
                            <th><span>{{ 'column.actif'|trans }}</span></th>
                            <th><span>{{ 'column.actions'|trans }}</span></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for statut in statuts %}
                        <tr>
                            <td>{{ statut.libele }}</td>
                            <td>{{ statut.enable?'OUI':'NON'  }}</td>
                            <td class="actions">
                                <button  data-target="#modalPassword" data-title="{{ 'label.edit.create'|trans }}" data-route="edit_statut" class="btn-edit" data-id="{{ statut.id }}" type="button"><i class="icon-edit"></i></button>
                                <button  data-target="#modalPassword" data-title="{{ 'label.delete'|trans }}" data-route="delete_statut" class="btn-remove" data-id="{{ statut.id }}" type="button"><i class="icon-trash"></i></button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% include 'user/popup.html.twig'  with {
            'sectionSociete' : sectionStatut,
            'form' : formStatut,
            'title' : 'Ajout/Modification statut'|trans
        } %}
    </div>
{% endblock %}