{#{% extends 'dashboard/dashboard.html.twig' %}#}

{#{% block title %}{{ parent() }} | Historique {% endblock %}#}
{% block wrapper %}
    <div class="card-header">
        <h2>{{ 'label.titre.etapeSuivante'|trans }}</h2>
    </div>
    <div class="card-body">
        <div class="listing-bloc relative-bloc">
            <div class="table-responsive">
                <table id="listHistorique" class="table table-striped">
                    <tbody>
                    {% for history in histories %}
                        <tr>
                            <td>
                                {{ history.createdAt|date("d/m/Y H:i") }}<br>
                                <b>{{ history.user?history.user.name }}</b> a modifié
                            </td>
                            <td>
                                {% for champ, value in metadatas %}
                                    {% for changeset, field in  value %}
                                       {{ changeset|trans }} <br>
                                    {% endfor %}
                                {% endfor %}
                            </td>
                            <td>
                                {% for champ, value in metadatas %}
                                    {% for changeset, field in  value %}
                                        {{ field[0] }} <br>
                                    {% endfor %}
                                {% endfor %}
                            </td>
                            <td>
                                {% for champ, value in metadatas %}
                                    {% for changeset, field in  value %}
                                        {{ field[1] }} <br>
                                    {% endfor %}
                                {% endfor %}
                            </td>

                        </tr>
                    {% endfor %}
                    </tbody>
                    <thead>
                    <tr>
                        <th><span>{{ 'Utilisateur'|trans }}</span></th>
                        <th><span>{{ 'Champ modifié'|trans }}</span></th>
                        <th><span>{{ 'Ancienne valeur'|trans }}</span></th>
                        <th><span>{{ 'Nouvelle valeur'|trans }}</span></th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
{% endblock %}