
<!-- <button class="navbar-toggler sidebar-toggler d-lg-none mr-auto" type="button" data-toggle="sidebar-show"><span class="navbar-toggler-icon"></span></button> -->
<!-- <button class="navbar-toggler sidebar-toggler d-lg-none mr-auto" type="button" data-toggle="sidebar-show"><span class="navbar-toggler-icon"></span></button> -->

<!-- <button class="navbar-toggler sidebar-toggler d-md-down-none" type="button" data-toggle="sidebar-lg-show"><i class="icofont-thin-left"></i></button> -->
<!-- <button class="navbar-toggler sidebar-toggler d-md-down-none" type="button" data-toggle="sidebar-lg-show"><span class="navbar-toggler-icon"></span></button> -->


<div class="header-content navbar">
    <!-- Logo -->
    <a class="navbar-brand" href="javascript:;" title="Axian Logo">
        <span class="logo" style="background-image: url( {{ asset('build/images/logo-axian-color.svg') }} )"></span>
        <!-- <img class="navbar-brand-full" src="{**{ asset('build/images/logo-axian-color.svg') }}" alt="Axian Logo"> -->
    </a>
    <!-- /Logo -->
    <section class="header-right">
        <div class="header-right-content">
            <div class="text-header">
                <!-- Titre Page -->
                {% if title is defined  %}<h1 class="titre-page">{{ title }} </h1>{% else %}<h1 class="titre-page"></h1>{% endif %}
                <!-- Titre Page -->

                <!-- reférence dossier -->
                {% if dossier is defined %}
                    <p class="refDossier"><span>Référence:</span> {# dossier.referenceDossier#} </p>
                {% endif %}
                <!-- /reférence dossier -->
            </div>

            <!-- user connecté -->
            <p class="user-infos">
                <span class="user">{% if app.user.name is not null %} {{ app.user.name }} {% else %} {{ app.user.email }}{% endif %}</span>
                <a href="{{ path('fos_user_security_logout') }}" title="Déconnexion"><i class="icon-signout"></i></a>
            </p>
            <!-- /user connecté -->
        </div>
    </section>
</div>
