
<button class="navbar-toggler sidebar-toggler d-lg-none mr-auto" type="button" data-toggle="sidebar-show"><i class="icofont-thin-left"></i></button>
<!-- <button class="navbar-toggler sidebar-toggler d-lg-none mr-auto" type="button" data-toggle="sidebar-show"><span class="navbar-toggler-icon"></span></button> -->

<!-- Logo -->
<a class="navbar-brand" href="javascript:;">
    <img class="navbar-brand-full" src="{{ asset('build/images/brand/logo-axian-color.svg') }}" width="175" alt="Axian Logo">
</a>
<!-- /Logo -->

<button class="navbar-toggler sidebar-toggler d-md-down-none" type="button" data-toggle="sidebar-lg-show"><i class="icofont-thin-left"></i></button>
<!-- <button class="navbar-toggler sidebar-toggler d-md-down-none" type="button" data-toggle="sidebar-lg-show"><span class="navbar-toggler-icon"></span></button> -->

<!-- Titre Page -->
<h1 class="titre-page">Gestion</h1>
<!-- Titre Page -->

<!-- user connecté -->
<p class="user-infos">
    <a href="{{ path('fos_user_security_logout') }}" title="Déconnexion"><span class="user">{% if app.user.name is not null %} {{ app.user.name }} {% else %} {{ app.user.email }}{% endif %}</span><i class="icon-signout"></i></a>
</p>
<!-- user connecté -->

<!-- <ul class="nav navbar-nav ml-auto">
    <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">

        </a>
        <div class="dropdown-menu dropdown-menu-right">
            <div class="dropdown-header text-center">
                <strong>Account</strong>
            </div>
            <a class="dropdown-item" href="#">
                <i class="fa fa-user"></i> Profile </a>

        </div>
    </li>
</ul>-->
<button class="navbar-toggler aside-menu-toggler d-md-down-none" type="button" data-toggle="aside-menu-lg-show">
    <a href="{{ path('fos_user_security_logout') }}"><span class="fa fa-sign-out" aria-hidden="true"></span></a>
</button>