<div class="">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link {% if currentTab is defined and currentTab == 'declaration' %} active {% endif %}" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
               aria-selected="true">Déclaration</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if currentTab is defined and currentTab == 'intervenant' %} active {% endif %}" id="intervenant-tab" data-toggle="tab" href="#intervenant" role="tab" aria-controls="intervenant"
               aria-selected="false">Intervenants</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if currentTab is defined and currentTab == 'auxiliaires' %} active {% endif %}" id="auxiliaires-tab" data-toggle="tab" href="#auxiliaires" role="tab" aria-controls="auxiliaires"
               aria-selected="false">Autres auxiliaires</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if currentTab is defined and currentTab == 'cloture' %} active {% endif %}" id="cloture-tab" data-toggle="tab" href="#cloture" role="tab" aria-controls="cloture"
               aria-selected="false">Clôture</a>
        </li>
        </li>
    </ul>
</div>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade {% if currentTab is defined and currentTab == 'declaration' %}show active {% endif %}" id="home" role="tabpanel"
         aria-labelledby="home-tab">
        {% if form is defined and form is not null %}
            {{ include('dossier/form.html.twig') }}
        {% else %}
            {{ render(controller('App\\Controller\\Admin\\DossierController::createDossier')) }}
        {% endif %}
    </div>
    <div class="tab-pane fade {% if currentTab is defined and currentTab == 'intervenant' %}show active {% endif %}" id="intervenant" role="tabpanel" aria-labelledby="intervenant-tab">
        {% if dossier is defined and dossier is not null %}
            {{ render(controller('App\\Controller\\IntervenantController::index', {id: dossier.id})) }}
        {% else %}

        {% endif %}
    </div>
    <div class="tab-pane fade {% if currentTab is defined and currentTab == 'auxiliaires' %}show active {% endif %}" id="auxiliaires" role="tabpanel"
         aria-labelledby="auxiliaires-tab">
        {% if dossier is defined and dossier is not null %}
            {{ render(controller('App\\Controller\\AuxiliairesController::index', {id: dossier.id}))}}

        {% endif %}
    </div>
    <div class="tab-pane fade {% if currentTab is defined and currentTab == 'cloture' %}show active {% endif %}" id="cloture" role="tabpanel"
         aria-labelledby="cloture-tab">

        {% if dossier is defined and dossier is not null %}
        {{render(controller('App\\Controller\\ClotureController::new', {id: dossier.id})) }}

        {% endif %}
    </div>
</div>