
<nav class="sidebar-nav">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="nav-icon icon-speedometer"></i>
                <span class="badge badge-primary"></span>
            </a>
        </li>
        <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#">
                <i class="fa fa-archive"></i> Dossiers</a>
            <ul class="nav-dropdown-items">
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fa fa-list"></i> Listes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('render_create_dossier') }}">
                        <i class="fa fa-edit"></i> Création</a>
                </li>
            </ul>
        </li>

        <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#">
                <i class="fa fa-user-md"></i> Administration</a>
            <ul class="nav-dropdown-items">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('list_user') }}">&nbsp;<i class="fa fa-users"></i> Gestion des utilisateurs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if isSociete is defined and isSociete == true %} active {% endif %}" href="{{ path('list_societe') }}">
                        &nbsp;<i class="fa fa-building-o"></i> Gestion des sociétés</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if isFonction is defined and isFonction == true %} active {% endif %}" href="{{ path('list_fonction') }}">
                       &nbsp;<i class="fa fa-money"></i> Gestion des fonctions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if isStatut is defined and isStatut == true %} active {% endif %}" href="{{ path('list_statut') }}">
                       &nbsp; <i class="fa fa-tasks"></i> Gestion des statuts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if isDecisionCloture is defined and isDecisionCloture == true %} active {% endif %}" href="{{ path('list_decision_cloture') }}">
                        &nbsp;<i class="fa fa-cogs"></i> Gestion de décision pour la cloture d'un litige</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('statuts_pers_morale_index') }}">
                        &nbsp;<i class="fa fa-cogs"></i> Gestion des statuts du personne morale</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('categorie_litige_index') }}">
                        &nbsp;<i class="fa fa-cogs"></i> Gestion des catégories litige</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('type_prestation_index') }}">
                        &nbsp;<i class="fa fa-cogs"></i> Gestion des types de prestation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('devise_index') }}">
                        &nbsp;<i class="fa fa-cogs"></i> Gestion des devises</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('etape_suivante_index') }}">
                       &nbsp; <i class="fa fa-cogs"></i> Gestion des etapes suivantes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('nature_decision_index') }}">
                        &nbsp;<i class="fa fa-cogs"></i> Gestion des natures de décision du justice</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('niveau_decision_index') }}">
                        &nbsp;<i class="fa fa-cogs"></i> Gestion de niveaux de la décision de justice</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('information_pj_index') }}">
                        &nbsp;<i class="fa fa-cogs"></i> Gestion des informations pièces jointes</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>
{#<button class="sidebar-minimizer brand-minimizer" type="button"></button>#}