
<nav class="sidebar-nav">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="nav-icon icon-speedometer"></i> Tableau de bord
                <span class="badge badge-primary">NEW</span>
            </a>
        </li>
        <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#">
                <i class="nav-icon icon-puzzle"></i> Administration</a>
            <ul class="nav-dropdown-items">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('list_user') }}">
                        <i class="nav-icon icon-puzzle"></i> Gestion des utilisateurs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if isSociete is defined and isSociete == true %} active {% endif %}" href="{{ path('list_societe') }}">
                        <i class="nav-icon icon-puzzle"></i> Gestion des sociétés</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if isFonction is defined and isFonction == true %} active {% endif %}" href="{{ path('list_fonction') }}">
                        <i class="nav-icon icon-puzzle"></i> Gestion des fonctions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if isStatut is defined and isStatut == true %} active {% endif %}" href="{{ path('list_statut') }}">
                        <i class="nav-icon icon-puzzle"></i> Gestion des statuts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if isDecisionCloture is defined and isDecisionCloture == true %} active {% endif %}" href="{{ path('list_decision_cloture') }}">
                        <i class="nav-icon icon-puzzle"></i> Gestion de décision pour la cloture d'un litige</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>
<button class="sidebar-minimizer brand-minimizer" type="button"></button>