
<nav class="sidebar-nav">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="icon-dashboard"></i><span>Tableau de bord</span></a>
        </li>
        <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#">
                <i class="fa fa-archive"></i> Dossiers</a>
            <ul class="nav-dropdown-items">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('dossier_list') }}">
                        <i class="fa fa-list"></i> Listes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('render_create_dossier') }}">
                        <i class="fa fa-edit"></i> Création</a>
                </li>
            </ul>
        </li>
        {% if app.user.hasRole("ROLE_SUPERADMIN") or app.user.hasRole("ROLE_ADMIN") %}
        <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="javascript:;"><i class="icon-cog"></i><span>Administration</span></a>
            <ul class="nav-dropdown-items">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('list_user') }}"><i class="icon-users"></i><span>Utilisateurs</span></a>
                </li>
                {% if app.user.hasRole('ROLE_SUPERADMIN') %}
                <li class="nav-item">
                    <a class="nav-link {% if isSociete is defined and isSociete == true %} active {% endif %}" href="{{ path('list_societe') }}">
                        <i class="fa fa-circle"></i><span>Sociétés</span></a>
                </li>
                {% endif %}
                {% if app.user.hasRole('ROLE_ROOT') %}
                <li class="nav-item">
                    <a class="nav-link {% if isFonction is defined and isFonction == true %} active {% endif %}" href="{{ path('list_fonction') }}">
                       <i class="fa fa-circle"></i><span>Fonctions</span></a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link {% if isStatut is defined and isStatut == true %} active {% endif %}" href="{{ path('list_statut') }}">
                       <i class="fa fa-circle"></i><span>Statuts</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if isDecisionCloture is defined and isDecisionCloture == true %} active {% endif %}" href="{{ path('list_decision_cloture') }}">
                        <i class="fa fa-circle"></i><span>Décision pour la cloture d'un litige</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('statuts_pers_morale_index') }}">
                        <i class="fa fa-circle"></i><span>Statuts du personne morale</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('categorie_litige_index') }}">
                        <i class="fa fa-circle"></i><span>Catégories litige</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('type_prestation_index') }}">
                        <i class="fa fa-circle"></i><span>Types de prestation</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('devise_index') }}">
                        <i class="fa fa-circle"></i><span>Devises</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('etape_suivante_index') }}">
                        <i class="fa fa-circle"></i><span>Etapes suivantes</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('nature_decision_index') }}">
                        <i class="fa fa-circle"></i><span>Natures de décision du justice</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('niveau_decision_index') }}">
                        <i class="fa fa-circle"></i><span>Niveaux de la décision de justice</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('information_pj_index') }}">
                        <i class="fa fa-circle"></i><span>Informations pièces jointes</span></a>
                </li>
            </ul>
        </li>
        {% endif %}
    </ul>
</nav>
{#<button class="sidebar-minimizer brand-minimizer" type="button"></button>#}