
<nav class="sidebar-nav">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="nav-icon icon-speedometer"></i> Tableau de bord
                {#<span class="badge badge-primary">NEW</span>#}
            </a>
        </li>
        <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#">
                <i class="nav-icon icon-puzzle"></i> Administration</a>
            <ul class="nav-dropdown-items">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('list_user') }}">
                        <i class="nav-icon icon-puzzle"></i> Gestion des utilisateurs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if isSociete is defined and isSociete == true %} active {% endif %}" href="{{ path('list_societe') }}">
                        <i class="nav-icon icon-puzzle"></i> Gestion des sociétés</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if isFonction is defined and isFonction == true %} active {% endif %}" href="{{ path('list_fonction') }}">
                        <i class="nav-icon icon-puzzle"></i> Gestion des fonctions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if isStatut is defined and isStatut == true %} active {% endif %}" href="{{ path('list_statut') }}">
                        <i class="nav-icon icon-puzzle"></i> Gestion des statuts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if isDecisionCloture is defined and isDecisionCloture == true %} active {% endif %}" href="{{ path('list_decision_cloture') }}">
                        <i class="nav-icon icon-puzzle"></i> Gestion de décision pour la cloture d'un litige</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('statuts_pers_morale_index') }}">
                        <i class="nav-icon icon-puzzle"></i> Gestion des Statuts du Personne Morale</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('categorie_litige_index') }}">
                        <i class="nav-icon icon-puzzle"></i> Gestion des Catégories Litige</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('type_prestation_index') }}">
                        <i class="nav-icon icon-puzzle"></i> Gestion des types de prestation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('devise_index') }}">
                        <i class="nav-icon icon-puzzle"></i> Gestion des devises</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('etape_suivante_index') }}">
                        <i class="nav-icon icon-puzzle"></i> Gestion des Etapes Suivantes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('nature_decision_index') }}">
                        <i class="nav-icon icon-puzzle"></i> Gestion des Natures de Décision du Justice</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('niveau_decision_index') }}">
                        <i class="nav-icon icon-puzzle"></i> Gestion de Niveaux de la Décision de Justice</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('information_pj_index') }}">
                        <i class="nav-icon icon-puzzle"></i> Gestion des informations pièces jointes</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>
{#<button class="sidebar-minimizer brand-minimizer" type="button"></button>#}