{% extends 'dashboard/dashboard.html.twig' %}
{% block title %}{{ parent() }} | Type de devise{% endblock %}
{% block wrapper %}
    <div class="card-header">
        <h2>{{ 'label.titre.devise'|trans }}</h2>
    </div>

    <div class="card-body">
        {% include '_flash.html.twig' %}
        <div class="listing-bloc relative-bloc">
            <div class="btn-group wrap-btn">
                <button id="showModalCreate" class="btn btn-success" data-route="devise_new" data-title="{{ 'label.title.ajout'|trans }}"> <i class="icon-plus-circle"></i><span>Ajouter</span></button>
            </div>
            <div class="table-responsive">
                <table id="listDevise" class="table table-striped">
                    <thead>
                    <tr>
                        <th>Code</th>
                        <th><span>{{ 'Devise'|trans }}</span></th>
                        <th><span>{{ 'column.actif'|trans }}</span></th>
                        <th class="actions"><span>{{ 'column.actions'|trans }}</span></th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for devise in devises %}
                            <tr>
                                <td>{{  devise.code }}</td>
                                <td>{{  devise.libelle }}</td>
                                <td>{{  devise.isActif ? 'OUI' : 'NON' }}</td>
                                <td class="actions">
                                    <button data-route="devise_edit" data-title="{{ 'label.title.modification'|trans }}" class="btn-edit" data-id="{{ devise.id }}" type="button"><i class="icon-edit"></i></button>
                                    <button data-route="devise_delete" data-title="{{ 'label.titre.delete'|trans }}" class="btn-remove" data-id="{{ devise.id }}" type="button"><i class="icon-trash"></i></button>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% include '/Admin/Popup/modal.html.twig' %}
    </div>
{% endblock %}