{% extends 'dashboard/dashboard.html.twig' %}

{% block title %}{{ parent() }} | Etape suivante {% endblock %}
{% block wrapper %}
    <div class="card-header">
        <h2>{{ 'label.titre.etapeSuivante'|trans }}</h2>
    </div>
    <div class="card-body">
        {% include '_flash.html.twig' %}
        <div class="listing-bloc relative-bloc">
            <div class="btn-group wrap-btn">
                <button id="showModalCreate" class="btn btn-success" data-route="etape_suivante_new" data-title="{{ 'label.title.ajout'|trans }}"> <i class="text-light fa fa-plus-circle"></i><span>Ajouter</span></button>
            </div>
            <div class="table-responsive">
                <table id="listEtapeSuivante" class="table table-striped">
                    <thead>
                        <tr>
                            <th><span>{{ 'Etape suivante'|trans }}</span></th>
                            <th><span>{{ 'column.actif'|trans }}</span></th>
                            <th class="actions"><span>{{ 'column.actions'|trans }}</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for etape_suivante in etape_suivantes %}
                            <tr>
                                <td>{{  etape_suivante.libelle }}</td>
                                <td>{{  etape_suivante.isActif ? 'OUI' : 'NON' }} </td>
                                <td class="actions">
                                    <button data-route="etape_suivante_edit" data-title="{{ 'label.title.modification'|trans }}" class="btn-edit" data-id="{{ etape_suivante.id }}" type="button"><i class="icon-edit"></i></button>
                                    <button data-route="etape_suivante_delete" data-title="{{ 'label.titre.delete'|trans }}" class="btn-remove" data-id="{{ etape_suivante.id }}" type="button"><i class="icon-trash"></i></button>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% include '/Admin/Popup/modal.html.twig' %}
    </div>
{% endblock %}