{% extends 'dashboard/dashboard.html.twig' %}
{% set sectionDecisionCloture = true %}
{% block wrapper %}
    <div class="card-header">
        <h2>{{ 'Gestion de décision de cloture '|trans }}</h2>
    </div>
    <div class="card-body">
        {% include '_flash.html.twig' %}
        <div class="listing-bloc relative-bloc">
            <div class="btn-group wrap-btn">
                <button id="showModalCreate" class="btn btn-success" data-route="create_decision_cloture" data-title="{{ 'label.edit.create'|trans }}"> <i class="icon-plus-circle"></i><span>Ajouter</span></button>
            </div>
            <div class="table-responsive">
                <table id="listDecision" class="table table-striped">
                    <thead>
                    <tr>
                        <th><span>{{ 'column.libelle'|trans }}</span></th>
                        <th><span>{{ 'column.actif'|trans }}</span></th>
                        <th><span>{{ 'column.actions'|trans }}</span></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for dCloture in decisionClotures %}
                        <tr>
                            <td>{{ dCloture.libele }}</td>
                            <td>{{ dCloture.enable?'OUI':'NON' }}</td>
                            <td class="actions">
                                <button  data-target="#modalPassword" data-title="{{ 'label.edit.create'|trans }}" data-route="edit_decision_cloture" class="btn-edit" data-id="{{ dCloture.id }}" type="button"><i class="icon-edit"></i></button>
                                <button  data-target="#modalPassword" data-title="{{ 'label.delete'|trans }}" data-route="delete_decision_cloture" class="btn-remove" data-id="{{ dCloture.id }}" type="button"><i class="icon-trash"></i></button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% include 'user/popup.html.twig'  with {
            'sectionDecisionCloture' : sectionDecisionCloture,
            'form' : formDecisionCloture,
            'title' : 'Ajout/Modification pour la décision de cloture'|trans
        } %}
    </div>
{% endblock %}