{% extends 'dashboard/dashboard.html.twig' %}

{% set sectionUser = true %}
{% block wrapper %}
            <div class="card-header">{{ 'label.gestion.user'|trans }}</div>
            <br>
                {% include '_flash.html.twig' %}
                <div>
                    <div class="col-xs-12">
                        <div id="btn-thematic-create" class="btn btn-ps pull-right adjust">
                            <button id="showModalCreate" class="btn btn-success" data-title="{{ 'label.edit.create'|trans }}" data-route="create_user"> <a class="text-light fa fa-plus-circle" href="#">Ajouter</a></button>
                        </div>
                        <br>
                    </div>

                    <div class="btn-group" role="group" aria-label="Button group">
                        <input type="text" class="form-control-lg" placeholder="Recherche ..." id="search_box">
                    </div>
                </div>

                <table id="listAdmin" class="table">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Prénoms</th>
                            <th>Entité</th>
                            <th>Email</th>
                            <th>Téléphone</th>
                            <th>Profil</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.name }}</td>
                            <td>{{ user.lastname }}</td>
                            <td>{{ user.societe }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.phoneNumber }}</td>
                            <td>{{ user.fonction }}</td>
                            <td style="width:15%; text-align: center; padding-right: 8px !important;">

                                <button  data-target="#modalPassword" data-title="{{ 'label.edit.create'|trans }}" data-route="edit_user" class="btn btn-link text-danger btn-edit" data-id="{{ user.id }}" type="button"><i class="fa fa-edit"></i></button>
                                <button  data-target="#modalPassword" data-title="{{ 'label.delete.user'|trans }}" data-route="delete_user" class="btn btn-link text-danger btn-remove" data-id="{{ user.id }}" type="button"><i class="fa fa-trash-o"></i></button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
    {% include 'user/popup.html.twig'  with {
        'sectionUser' : sectionUser,
        'form' : formUser
    } %}
{% endblock %}