{% trans_default_domain 'FOSUserBundle' %}
{% block body_text %}
    {% autoescape 'html' %}
        Bonjour {{ name }},

        <p>{% if creationCompte %} Création de nouveau compte sur {{ application_name }},
            votre mot de passe
            {% else %}Votre nouveau mot de passe sur l'application {{ application_name }} {% endif %} est : {{ newPassword }}</p>
        <p> Pour vous connecter, rendre sur :</p><br>
        {{ url('fos_user_security_login') }}
        <p>Cordialement,</p>
        <br/>
        L'équipe
        <br />
        <br />
        Merci de ne pas répondre à ce email!
    {% endautoescape %}
{% endblock %}
{% block body_html %}{% endblock %}